header{
	padding-left: 111px;
	padding-right: 160px;
	border-bottom: 2px;
} 
#medium{
	 position: absolute;
	 padding-top: 15px;
	 top: 0px;
	 
 }
 #coffee {
	position: absolute;
	padding-left: 68px;
	padding-top: 6px;
}
#followButton{
	margin-left: 240px;
	margin-top: 15px;
	position: absolute;
	border-radius: 33px;
	border: 1px solid #b37400;
	background-color: white;
	color: #b37400;
	font-size: 11px;
	letter-spacing: 0px;
	width: 68px;

}
#dot{
	right: 180px;
	top: 15px;
	position: absolute;
	
}
#search{
	top: 20px;
	right: 240px;
	position: absolute;
}
.links{
	padding-top: 9px;
	position: relative;
	font-size: 17px;	
}
a:link {
	color: #a6a6a6;
	text-decoration: none ;
	word-spacing: 8px;
	font-size: 14px;
	padding: 7px;
	font-weight: 20px; 
}
#home , #fiction ,#carton,#podcast {
	color: #a6a6a6;
	}
#horizantle{
	 position: relative;
	 border: 0px;
	 padding-left: 10px;
	 color: black;
}
a:hover{
	color: black;
}
#content{
	margin-left: 280px;
	margin-top: 17px;
	position: absolute;
}
#girl{
	position: absolute;
}
#girlName{
	margin-top: 26px;
	margin-left: 99px;
	position: absolute;
	color: #a6a6a6;
}
#followGirlButton{
	margin-top: 22px;
	margin-left: 170px;
	position: absolute;
	border-radius: 33px;
	border: 1px solid #b37400;
	background-color: white;
	color: #b37400;
	font-size: 11px;
	letter-spacing: 0px;
	width: 67px;

}
b{
	color: black
}
h1{
	margin-top: 170px;
	position: absolute;
}
#train{
	margin-top: 250px;
	position: absolute;
}
#trainSubText{
	margin-top:550px;
	margin-left: 250px;
	position: absolute;
}
#article{
	margin-right: 100px;
	margin-top:610px;
	position: relative;
	font-size: 20px;
	word-spacing: 2px;
	line-height: 70px;	
	margin-bottom: 40px;
}
i{
	line-height: 20px;
	position: static;

}

footer{
    height: 0;
	position: absolute;
	bottom: 25px;
}

#footerButtons{
	padding: 7px 20px;
	background-color: #e6e6e6;
	color: black;
    font-weight: 2px;
	size: 20px;
	margin-right: 5px;
}
#footerButtons:hover{
	background-color: #bfbfbf;
}
#footerHr{
	margin-top: 30px;
	width: 690px;
}
#h1 {
	margin-top: 0px;
	position: absolute;
	margin-bottom: 20px;
}
#final{
	bottom:10px;
	margin-top: 80px;
	margin-left: 20px;
	position: relative;
}



